@use "../utils/" as u;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100%, u.rem(420));
  margin-inline: auto;
  background: var(--white);
  padding: u.rem(30);
  border: u.rem(1) solid var(--white);
  border-radius: u.rem(25);
  border-bottom-right-radius: u.rem(95);

  &__birthday {
    position: relative;
    margin-bottom: u.rem(50);
    width: 100%;

    hr {
      color: var(--off-white);
      margin: 0;
      padding: 0;
      font-size: u.rem(0.5);
      opacity: 0.3;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      gap: u.rem(10);
      margin-bottom: u.rem(40);

      @include u.breakpoint(medium) {
        justify-content: flex-start;
      }
    }
  }

  &__output {
    width: 100%;
    margin-bottom: u.rem(20);
    p {
      margin: 0;
      font-size: u.rem(32);
      color: var(--off-black);
      font-weight: 800;

      @include u.breakpoint(medium) {
        font-size: u.rem(50);
      }

      span {
        color: var(--purple);
      }
    }
  }
  input {
    width: u.rem(85);
    padding: u.rem(10);
    border: u.rem(1.7) solid var(--light-grey);
    border-radius: u.rem(5);
    //font-size: 32px;
    font-weight: 800;
    cursor: pointer;
  }
  label {
    font-size: u.rem(10);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--smokey-grey);
    letter-spacing: u.rem(2);
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  width: u.rem(50);
  background: var(--purple);
  padding: u.rem(12);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 69%;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;

  @include u.breakpoint(medium) {
    right: 7%;
  }

  img {
    width: 100%;
  }

  &:hover {
    background: var(--off-black);
  }
}
