@use 'placeholders' as p;
@use 'pixel-converter' as pixel;
$breakpointUp: (
  'large': pixel.em(768),
  'x-large': pixel.em(1024),
);

@mixin breakpointUp($size) {
  @media screen and (min-width: map-get($breakpointUp, $size)) {
    @content;
  }
}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}
