$searchBarBorder: hsl(0, 0%, 90%);
$statsColor: hsl(210, 4%, 46%);
$clearButtonColor: hsl(0, 0%, 85%);
$backgroundColor: hsl(0, 0%, 100%);
$fontColor: hsl(0, 0%, 0%);
$logoBlue: hsl(218, 82%, 61%);
$logoRed: hsl(359, 70%, 53%);
$logoYellow: hsl(45, 100%, 51%);
$logoGreen: hsl(131, 51%, 48%);
$linkColor: hsl(245, 86%, 36%);
$linkVisitedColor: hsl(280, 100%, 30%);
$linkOutlineColor: hsl(0, 0%, 0%);
$fontStack: 'Roboto', sans-serif;
