@use "../utils/" as u;

.container {
  width: min(100% - u.rem(25), u.rem(1110));
  margin-inline: auto;
  margin-bottom: u.rem(46);

  @include u.breakpoints-up(large) {
    padding: 0;
  }
}

.up-arrow {
  color: var(--lime-green);
}
.down-arrow {
  color: var(--bright-red);
}

.bg-color {
  background: var(--card-bg);
  color: var(--card-text-color);
  border-radius: u.rem(7);
  cursor: pointer;
}

.card_info_text {
  color: var(--small-text);
}
