.advice {
  width: min(100%, 500px);
  padding-inline: 23px;
  padding-bottom: 63px;
  //   padding: 0 23px 10px;
  border-radius: 0.7rem;
  text-align: center;
  background: var(--DarkGrayishBlue);
  position: relative;

  &__number {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--NeonGreen);

    span {
      margin-inline-start: 3px;
    }
  }

  &__text {
    color: var(--LightCyan);
    // font-size: clamp(20px, 2.5vw + 1.5rem, 1.75rem);
    font-size: 22px;
    font-weight: 800;
    // font-size: 28px; 1.75rem
  }

  &__pattern_divider {
    img {
      width: 90%;
      object-fit: contain;
    }
  }
}

.button {
  border-radius: 100%;
  padding: 1rem;
  background: var(--NeonGreen);
  position: absolute;
  bottom: 221px;
  left: 160px;
}
