@use '../utils/' as u;
.advice {
  width: min(100%, 520px);
  padding: u.rem(32);
  border-radius: u.rem(11.2);
  text-align: center;
  background: var(--DarkGrayishBlue);
  position: relative;

  &__number {
    text-transform: uppercase;
    letter-spacing: u.rem(3);
    color: var(--NeonGreen);

    span {
      margin-inline-start: u.rem(3);
    }
  }

  &__text {
    color: var(--LightCyan);
    font-size: u.rem(22);
    font-weight: 800;
    padding: u.rem(24) 0;

    @include u.breakpoint(medium) {
      font-size: u.rem(28);
    }
  }

  &__pattern_divider {
    margin-bottom: u.rem(32);
    img {
      width: 95%;
      object-fit: contain;

      &:first-of-type {
        @include u.breakpoint(medium) {
          display: none;
        }
      }

      &:last-of-type {
        @include u.breakpoint-down(small) {
          display: none;
        }
      }
    }
  }
  &__button {
    border-radius: 100%;
    padding: u.rem(17.6);
    background: var(--NeonGreen);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &:hover {
      box-shadow: 1px 0px 22px 1px var(--NeonGreen);
    }
  }
}
