//mobile first
@use "../utils/" as u;
.testimonials {
  width: u.rem(375);
  margin-inline: auto;
  padding-top: u.rem(20);

  &__banner {
    background: url(../../images/pattern-bg.svg) no-repeat;
    background-size: contain;
    height: u.rem(308);
    position: relative;

    &__author-img {
      width: u.rem(254);
      height: u.rem(250);
      position: absolute;
      top: u.rem(32);
      left: u.rem(28);
      border-radius: u.rem(5);
    }

    &__toggler {
      position: absolute;
      top: u.rem(260);
      left: u.rem(116);
      width: u.rem(76);
      padding: u.rem(10);
      display: flex;
      justify-content: space-between;
      border-radius: u.rem(80);
      background: white;
      box-shadow: 0 u.rem(10) u.rem(20) rgba(0, 0, 0, 0.19),
        0 u.rem(6) u.rem(6) rgba(0, 0, 0, 0.15);
    }
  }

  &__textual-contents {
    text-align: center;
    //padding-top: u.rem(63);
    margin-top: u.rem(63);

    &__text {
      position: relative;
      padding-inline: u.rem(22);

      &::before {
        content: "";
        display: block;
        width: u.rem(120);
        height: u.rem(100);
        background: url(../../images/pattern-quotes.svg) no-repeat;
        //background-position: center;
        background-position: 72% 52%;
        background-size: u.rem(65);
        position: absolute;
        top: u.rem(-60);
        left: u.rem(120);
      }
    }

    &__author {
      margin-top: u.rem(20);
      &__name {
        font-weight: bold;
        font-size: u.rem(18);
      }
      &__profession {
        font-weight: 500;
        color: u.$Grayish_Blue;
      }
    }
  }
}
