@use "../utils/" as u;

.container {
  width: min(100% - u.rem(25), u.rem(1110));
  margin-inline: auto;
  margin-bottom: u.rem(46);

  @include u.breakpoints-up(large) {
    padding: 0;
  }
}

.up-arrow {
  color: var(--lime-green);
}
.down-arrow {
  color: var(--bright-red);
}

.bg-color {
  background: var(--dark-card-bg);
  color: var(--dark-white-text);
  border-radius: u.rem(7);
}

.card_info_text_dark {
  color: var(--dark-blue-text); //dark theme color scheme
}

//.card_info_text_light
