@use "../utils/" as u;

.calculator {
  &__output-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, u.rem(84));
    grid-template-rows: minmax(u.rem(120), auto);

    @include u.breakpointsUp(medium) {
      @include u.grid(4, u.rem(110));
    }

    &__output-wrapper {
      grid-column: 1 / -1;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      flex-direction: column;
      padding: u.rem(10);
      padding-inline: u.rem(26);
      word-wrap: break-word;
      word-break: break-all;
      border-radius: u.rem(5);

      margin-bottom: u.rem(30);

      .prev-value {
        font-size: u.rem(25);
      }

      .current-value {
        @include u.breakpointsUp(medium) {
          font-size: u.rem(48);
        }
      }
    }
  }

  &__operations-grid {
    display: grid;
    grid-template-columns: repeat(4, u.rem(74));
    grid-template-rows: repeat(5, u.rem(80));
    align-content: center;
    justify-content: center;
    border-radius: u.rem(5);
    padding: u.rem(15);

    @include u.breakpointsUp(medium) {
      @include u.grid-cal(4, u.rem(100), 5, u.rem(70));
    }
    .span-two {
      grid-column: span 2;
    }

    .blue {
      color: var(--theme-1-text-white);
      font-size: u.rem(19);
    }

    .red {
      color: var(--theme-1-text-white);
    }
    button {
      cursor: pointer;
      font-size: u.rem(32);
      font-weight: 700;
      border: none;
      border-radius: u.rem(15);
      outline: none;
      margin: u.rem(5);
      @include u.breakpointsUp(medium) {
        margin: u.rem(10);
      }

      &:hover {
        background-color: rgba (255, 255, 255, 0.9); //temp
      }
    }
  }
}
