@use "../utils/" as u;

.calculator {
  &__output-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 84px);
    grid-template-rows: minmax(120px, auto);

    @include u.breakpointsUp(medium) {
      @include u.grid(4, 110px);
    }

    &__output-wrapper {
      grid-column: 1 / -1;
      background-color: var(
        --theme1-bg-very-dark-blue-screen-bg
      ); //temp - bg will change base on different themes
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      flex-direction: column;
      padding: 10px;
      padding-inline: 26px;
      word-wrap: break-word;
      word-break: break-all;
      border-radius: 5px;

      margin-bottom: 30px;

      .prev-value {
        color: var(--theme-1-text-white); //temp change
      }

      .current-value {
        color: var(--theme-1-text-white); // temp change
      }
    }
  }

  &__operations-grid {
    display: grid;
    grid-template-columns: repeat(4, 74px);
    grid-template-rows: repeat(5, 80px);
    align-content: center;
    justify-content: center;

    background-color: var(--theme1-bg-very-dark-blue-toggle-keypad-bg); //theme1
    border-radius: 5px;
    padding: 15px;

    @include u.breakpointsUp(medium) {
      @include u.grid-cal(4, 100px, 5, 70px);
    }
    .span-two {
      grid-column: span 2;
    }

    .blue {
      background-color: var(--theme1-keys-dark-blue-key-bg);
      color: var(--theme-1-text-white); //theme1 text-color
      font-size: 19px;
    }

    .red {
      background-color: var(--theme1-keys-red-key-bg-toggle);
      color: var(--theme-1-text-white); //theme1 text-color
    }
    button {
      cursor: pointer;
      font-size: 32px;
      font-weight: 700;
      border: none;
      border-radius: 15px;
      outline: none;
      background-color: var(
        --theme1-keys-light-grayish-orange-key-bg
      ); //temp theme1 ch later
      color: var(--theme1-text-very-dark-grayish-blue);

      margin: 5px;
      @include u.breakpointsUp(medium) {
        margin: 10px;
      }

      &:hover {
        background-color: rgba (255, 255, 255, 0.9); //temp
      }
    }
  }
}
