html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: var(--DarkBlue);
  font-family: var(--font);
  //   line-height: 1.3;
}

main {
  min-height: 100vh;
  padding-inline: 20px;
  font-size: 0.7rem;
  //   display: grid;
  //   align-items: center;
  //   justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
