h1,
p {
  margin-top: 0;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--almost-black);
}

ul li {
  list-style-type: none;
}

h1 {
  // font-size: clamp(18px, 2.7rem + 2vw, 3rem);
  line-height: 1;
}

a {
  color: var(--medium-gray);
}
