@use "../utils/" as u;

.card {
  text-align: center;
  //width: u.rem(255); //temp
  //height: u.rem(216); //Temp
  padding: u.rem(25) 0 u.rem(25);

  border-top: u.rem(4) solid;

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(8);

    margin-bottom: u.rem(20);
    &--username p {
      font-size: u.rem(12);
      font-weight: 700;
    }
  }

  &__data {
    margin-bottom: u.rem(25);
    h3 {
      font-size: u.rem(56);
      letter-spacing: u.rem(-2);
      margin-bottom: u.rem(2);
    }
    p {
      font-size: u.rem(12);
      text-transform: uppercase;
      letter-spacing: u.rem(5);
    }
  }

  &__matrix {
    img {
      display: inline-block;
      padding-right: u.rem(3);
    }
  }

  &__facebook {
    border-top-color: var(--facebook);
  }

  &__twitter {
    border-top-color: var(--twitter);
  }

  &__instagram {
    border-top-color: var(--instagram-middle);
    /*
    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: u.rem(5);
      background: linear-gradient(
        225deg,
        var(--instagram-end) 0%,
        var(--instagram-middle) 50.91%,
        var(--instagram-start) 100%
      );
    }*/
  }

  &__youtube {
    border-top-color: var(--youtube);
  }
}
