@use "../utils/" as u;
footer {
  //@include u.flex(column, center);
  text-align: center;
  .attribution {
    font-size: 11px;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
