@use "../utils/" as u;

footer {
  margin: 5rem 0 0;
  @include u.breakpoints-up(large) {
    margin-top: 2rem;
  }
  p {
    font-size: 11px;
    text-align: center;
  }
  a {
    // color: hsl(228, 45%, 44%);
    color: var(--medium-gray);
  }
}
