@use '../utils/' as u;
.intro-section {
  @include u.breakpoints-up(large) {
    width: min(90vw, 1164px);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-inline: auto;

    gap: 2rem;
    grid-template-areas: 'text-content image-container';
  }

  &__img-container {
    width: 100%;
    grid-area: image-container;

    @include u.breakpoints-up(large) {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: contain;
      @include u.breakpoints-up(large) {
        width: 100%;
        height: 543.733px;
      }

      @include u.breakpoints-up(x-large) {
        width: 560px;
        height: 560px;
      }
    }
    img.mobile-img {
      display: none;
      @include u.breakpoints-down(medium) {
        display: block;
      }
    }

    img.desktop-img {
      display: none;
      @include u.breakpoints-up(large) {
        display: block;
      }
    }
  }

  &__textual-contents {
    grid-area: text-content;
    text-align: center;
    margin-top: 2rem;
    padding-inline: 0.8rem;

    @include u.breakpoints-up(large) {
      margin-top: 9.3rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      margin-inline-start: 4.125rem;
    }

    h1 {
      margin-bottom: 1.25rem;
      @include u.breakpoints-up(large) {
        font-size: 2.8rem;
        letter-spacing: 0.0625rem;
      }

      @include u.breakpoints-up(x-large) {
        font-size: 3.67rem;
      }
      .br {
        @include u.breakpoints-up(large) {
          margin-left: 10rem;
        }
      }
    }
    p {
      text-align: center;
      margin-top: 0.6rem;
      font-size: 0.91875rem;
      padding-inline: 0.75rem;
      padding-bottom: 1.25rem;
      margin-bottom: 1.5625rem;
      line-height: 1.6;
      color: var(--medium-gray);

      @include u.breakpoints-up(large) {
        text-align: left;
        padding-right: 7.123rem;
        padding-left: 0;
      }
    }

    a {
      @extend %border;
      font-size: 0.8125rem;
      padding: 0.75rem;
      padding-inline: 1.25rem;
      background-color: var(--almost-black);
      color: var(--almost-white);
      transition: all 0.3s linear;
      cursor: pointer;
      margin-top: 20px;
      &:hover {
        background-color: transparent;
        border-color: var(--almost-black);
        color: var(--almost-black);
      }
    }
  }

  .sponsors-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    margin-top: 4.8rem;

    img {
      width: 17.172295363%;
      object-fit: contain;
    }

    @include u.breakpoints-up(large) {
      margin-top: 2.8rem;
    }
  }
}
