@use '../utils/' as u;

header {
  @extend %spacing;
}

.navbar {
  @include u.flex(space-between);
  font-size: 0.625rem;
  cursor: pointer;
  position: relative;

  &__hamburger-container {
    z-index: 1;
    @include u.breakpoints-up(large) {
      display: none;
    }
    cursor: pointer;
  }
  .hide_for_mobile {
    @include u.breakpoints-down(medium) {
      display: none;
    }
  }

  &__logo {
    width: 80px;
    display: inline-block;
    margin-top: 0.4375rem;
  }

  &__links-btn {
    display: inline-flex;
    align-items: center;
    margin-inline-end: 1rem;
    gap: 1.875rem;

    a {
      &:last-of-type {
        @extend %border;
      }

      &:hover {
        @extend %hover;
      }
    }
  }
}

.navbar {
  &__list {
    @include u.flex(space-between);
    gap: 1.875rem;
    color: var(--medium-gray);

    &-item {
      padding-right: 1rem;
      img {
        display: inline-block;
        margin-left: 0.125rem;
      }

      &:hover {
        @extend %hover;
      }
    }

    img.arrow-up {
      display: none;
    }
  }
}

nav {
  .flex {
    @include u.flex(center);
    gap: 3rem;
  }
}
.open {
  display: block;
}

.close {
  display: none;
}

.close-btn {
  display: none;
}
