@use '../utils/' as u;

// ? Dropdown menu styles for Desktop

.sub-menu {
  @extend %sub-menu;
  left: 80px;

  &__list-item {
    @extend %sub-menu-list-item;
  }
}

.sub-menu-2 {
  @extend %sub-menu;
  left: 23%;
  @media screen and (min-width: 1160px) {
    left: 19%;
  }

  p {
    padding-bottom: 0.75rem;
  }
}

.display-none {
  display: none;
}
