@use "../utils/" as u;

.card {
  //color: var(--dark-blue-text);
  border-top: u.rem(3) solid;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: u.rem(16);
  padding: u.rem(12);
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(7);

    &--username {
      font-size: u.rem(12);
    }
  }

  &__data {
    h3 {
      font-size: u.rem(40);
      font-weight: 700;
    }
    p {
      font-size: u.rem(11);
      text-transform: uppercase;
      letter-spacing: u.rem(3);
    }
  }

  &__matrix {
    img {
      display: inline-block;
      padding-right: u.rem(3);
    }
  }

  &__facebook {
    border-top-color: var(--facebook);
  }
  &__twitter {
    border-top-color: var(--twitter);
  }
  /*
  &__instagram {
    border-image: linear-gradient(
      to right,
      var(--instagram-end) 0%,
      var(--instagram-start) 98.02%
    );
  }*/

  &__youtube {
    border-top-color: var(--youtube);
  }
}
