@use "../utils/" as u;
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--theme1-bg-very-dark-blue-main-bg);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: u.rem(32);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(100% - u.rem(20), u.rem(500));
  margin-inline: auto;
  min-height: 100vh;
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.attribution {
  font-size: u.rem(11);
  text-align: center;
  color: rgb(165, 152, 152);

  a {
    color: hsl(228, 48%, 67%);
  }
}
